CONFIG_SYS_CONFIG_NAME="platform-top"
# Enable extlinux configuration generation
UBOOT_EXTLINUX = "1"
UBOOT_EXTLINUX_LABELS = "default"
UBOOT_EXTLINUX_DEFAULT_LABEL = "default"
UBOOT_EXTLINUX_KERNEL_default = "../image.ub"
UBOOT_EXTLINUX_MENU_DESCRIPTION_default = "PetaLinux EXT4 Boot"
UBOOT_EXTLINUX_CONSOLE = "console=ttyPS0,115200 earlycon"

# Root partition on SD card slot (mmc1, partition 2)
UBOOT_EXTLINUX_ROOT_default = "root=/dev/mmcblk1p2 rw rootwait"
CONFIG_PHY=y
CONFIG_PHY_FIXED=y
CONFIG_CMD_MII=y
CONFIG_CMD_WGET=y
CONFIG_BOOTMETH_HTTP=y
INITRAMFS_CTYPE = "xz"
CONFIG_BOARD_LATE_INIT=y
CONFIG_OF_BOARD_SETUP=y