CONFIG_SD_BOOT=y
# CONFIG_NETMASK is not set
# CONFIG_BITBANGMII_MULTI is not set
CONFIG_MACB=y
CONFIG_MACB_ZYNQ=y
CONFIG_PHY_ZYNQMP=y
CONFIG_BOOTSTD_BOOTCOMMAND=y

# CONFIG_BITBANGMII is not set

CONFIG_SPL_PHY=y
# CONFIG_SPL_NOP_PHY is not set
CONFIG_PHY_XILINX_ZYNQMP=y

CONFIG_BOOT_DEFAULTS_FEATURES=y
CONFIG_BOOT_DEFAULTS_CMDS=y
CONFIG_BOOT_DEFAULTS=y
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_USE_PREBOOT is not set
# CONFIG_CMD_MUX is not set
# CONFIG_IPADDR is not set
CONFIG_CLK_XLNX_CLKWZRD=y
CONFIG_SYS_I2C_XILINX_XIIC=y
CONFIG_MULTIPLEXER=y
# CONFIG_PHY_ETHERNET_ID is not set



CONFIG_QSPI_BOOT=y
# CONFIG_SPL_NET is not set
CONFIG_CMD_BOOTP=y
# CONFIG_BOOTP_MAY_FAIL is not set
CONFIG_BOOTP_BOOTPATH=y
# CONFIG_BOOTP_VENDOREX is not set
# CONFIG_BOOTP_BOOTFILESIZE is not set
CONFIG_BOOTP_DNS=y
# CONFIG_BOOTP_DNS2 is not set
CONFIG_BOOTP_GATEWAY=y
CONFIG_BOOTP_HOSTNAME=y
# CONFIG_BOOTP_PREFER_SERVERIP is not set
CONFIG_BOOTP_SUBNETMASK=y
# CONFIG_BOOTP_NISDOMAIN is not set
# CONFIG_BOOTP_NTPSERVER is not set
# CONFIG_CMD_PCAP is not set
CONFIG_BOOTP_PXE=y
CONFIG_BOOTP_PXE_CLIENTARCH=0x16
# CONFIG_BOOTP_PXE_DHCP_OPTION is not set
CONFIG_BOOTP_VCI_STRING="U-Boot.armv8"
# CONFIG_CMD_TFTPPUT is not set
# CONFIG_CMD_TFTPSRV is not set
CONFIG_NET_TFTP_VARS=y
# CONFIG_CMD_RARP is not set
# CONFIG_CMD_NFS is not set
# CONFIG_SYS_DISABLE_AUTOLOAD is not set
# CONFIG_CMD_CDP is not set
# CONFIG_CMD_SNTP is not set
# CONFIG_CMD_LINK_LOCAL is not set
# CONFIG_CMD_ETHSW is not set
# CONFIG_CMD_WOL is not set
CONFIG_ARP_TIMEOUT=5000
# CONFIG_BOOTP_SEND_HOSTNAME is not set
# CONFIG_NETCONSOLE is not set
CONFIG_NET_MAXDEFRAG=16384
# CONFIG_SYS_FAULT_ECHO_LINK_DOWN is not set
# CONFIG_TFTP_PORT is not set
CONFIG_TFTP_WINDOWSIZE=1
# CONFIG_TFTP_TSIZE is not set
# CONFIG_SERVERIP_FROM_PROXYDHCP is not set
CONFIG_SERVERIP_FROM_PROXYDHCP_DELAY_MS=100
# CONFIG_KEEP_SERVERADDR is not set
# CONFIG_UDP_CHECKSUM is not set
# CONFIG_BOOTP_SERVERIP is not set
CONFIG_BOOTP_MAX_ROOT_PATH_LEN=64
# CONFIG_USE_GATEWAYIP is not set
# CONFIG_USE_IPADDR is not set
# CONFIG_USE_NETMASK is not set
# CONFIG_USE_ROOTPATH is not set
# CONFIG_USE_SERVERIP is not set
CONFIG_PROT_TCP=y
# CONFIG_IPV6 is not set
# CONFIG_DFU_TFTP is not set

#
# Fastboot support
#
# CONFIG_USB_FUNCTION_FASTBOOT is not set
# CONFIG_UDP_FUNCTION_FASTBOOT is not set
# CONFIG_TCP_FUNCTION_FASTBOOT is not set
# CONFIG_PHY_NCSI is not set
# CONFIG_FTGMAC100 is not set

CONFIG_BOOTSTD_FULL=y
# CONFIG_BOOTSTD_MENU is not set
CONFIG_CMD_BOOTFLOW_FULL=y
CONFIG_CMD_BOOTMETH=y

# CONFIG_EXPO is not set

CONFIG_BOOTMETH_SCRIPT=y
CONFIG_BOOTARGS_SUBST=y

CONFIG_USE_ETHPRIME=y
CONFIG_ETHPRIME="eth1"
CONFIG_SYS_BOOTM_LEN=0x40000000
CONFIG_SYS_RX_ETH_BUFFER=128
CONFIG_NET_RETRY_COUNT=3
# CONFIG_AHCI is not set
# CONFIG_ANDROID_BOOT_IMAGE is not set
# CONFIG_BOOTMETH_EXTLINUX is not set
# CONFIG_BOOTMETH_EXTLINUX_PXE is not set
# CONFIG_BOOTMETH_EFILOADER is not set
# CONFIG_BOOTMETH_EFI_BOOTMGR is not set
# CONFIG_BOOTMETH_VBE is not set
CONFIG_SD_BOOT_QSPI=y
# CONFIG_SATA is not set
# CONFIG_SCSI_AHCI is not set
# CONFIG_SCSI is not set
# CONFIG_VIDEO is not set
# CONFIG_VIRTIO_MMIO is not set


# CONFIG_PROT_UDP is not set
# CONFIG_IP_DEFRAG is not set
# CONFIG_PROT_TCP_SACK is not set

CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x1000000
CONFIG_ENV_OFFSET_REDUND=0x1080000
# CONFIG_ENV_IS_NOWHERE is not set
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_NAND is not set
CONFIG_ENV_SECT_SIZE_AUTO=y

# CONFIG_BOOTCOMMAND is not set
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="menu_env.txt"
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_IMPORTENV=y

# CONFIG_NET is not set
CONFIG_NET_LWIP=y
# CONFIG_LWIP_DEBUG is not set
# CONFIG_LWIP_ASSERT is not set
CONFIG_PROT_DHCP_LWIP=y
CONFIG_PROT_DNS_LWIP=y
CONFIG_PROT_RAW_LWIP=y
CONFIG_PROT_TCP_LWIP=y
CONFIG_PROT_TCP_SACK_LWIP=y
CONFIG_PROT_UDP_LWIP=y
CONFIG_LWIP_TCP_WND=3000000
CONFIG_BOARD_LATE_INIT=y
CONFIG_DM_I2C=y

