CONFIG_SFP=y
CONFIG_BCM54140_PHY=y
CONFIG_MARVELL_88Q2XXX_PHY=y
CONFIG_MARVELL_88X2222_PHY=y
CONFIG_MDIO_I2C=y
CONFIG_PHY_ZYNQMP=y
CONFIG_PHY_LAN966X_SERDES=y
CONFIG_PHY_OCELOT_SERDES=y
INITRAMFS_CTYPE = "xz"
CONFIG_NET_PKTGEN=m
CONFIG_I2C_MUX_GPMUX=y
CONFIG_PTP_1588_CLOCK_XILINX=y
CONFIG_XILINX_XDMA=y
CONFIG_MULTIPLEXER=y
CONFIG_SPI_ZYNQMP_GQSPI=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_CHAR=y

#
# Multiplexer drivers
#
# CONFIG_MUX_ADG792A is not set
# CONFIG_MUX_ADGS1408 is not set
# CONFIG_MUX_GPIO is not set
# CONFIG_MUX_MMIO is not set
# end of Multiplexer drivers


CONFIG_I2C_MUX_REG=y
CONFIG_I2C_ALGOPCA=y
CONFIG_I2C_PCA_PLATFORM=y

